@use 'hero';
@use 'infosbar';
@use 'section';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    text-decoration: none;
}

.container{
    max-width: 960px;
    width: 100%;
    // height: 100%;
    margin: 0 auto;

    @media (max-width: 640px){
        max-width: 80%;
    }
    
    @media (max-width: 1024px){
        max-width: 90%;
        
    }
    
}

